body{
    margin: 0;
    background-color: #dfeedd;
    
}

header {
    background-color: rgb(18,40,54);
    padding: 10px;
    color: white;
    text-align: center;
}

.container {
    padding: 30px;
}

.search {
    background-color: rgb(46,46,47);
    color: gray;
    padding: 15px;
    border-radius: 10px;
    margin: 0 10px 80px 450px;
    width: 50%; 
    border: none;
    display: block; 
}

.main-layout {
    display: flex;
    gap:50px;
}

.left-box {
    background-color: rgb(46,46,46);
    height: 500px;
    width: 300px;
    border-radius: 15px;
    margin-top: -90px;
}

.small-box {
    background-color: rgb(46,46,46);
    border-radius: 12px;
    width: 200px;
    height: 140px;
    margin: 0 50px 70px 60px;
    display: inline-block;
}

.big-box {
    background-color: rgb(46,46,46);
    border-radius: 15px;
    width: 850px;
    height: 200px;
    margin: 0 0px 0 60px;
    
} 
